<header>
    <nav>
        <a href="/">allMovies</a>
        <ul>
            <li>
                <a href="/directors">directors</a>
            </li>
            <li>
                <a href="/directors/new">add directors</a>
            </li>
        </ul>
    </nav>
</header>